.u-section-1 .u-sheet-1 {
  min-height: 616px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 50px auto;
}

.u-section-1 .u-layout-cell-1 {
  background-image: none;
  min-height: 435px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 435px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 131px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 516px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-shape-1 {
  height: 228px;
  margin-top: 67px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 337px;
  height: 371px;
  margin: -295px auto 0 30px;
}

.u-section-1 .u-image-2 {
  width: 282px;
  height: 211px;
  margin: -146px 30px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 359px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 600px;
  }

  .u-section-1 .u-shape-1 {
    height: 249px;
  }

  .u-section-1 .u-image-1 {
    width: 326px;
    height: 362px;
    margin-top: -316px;
  }

  .u-section-1 .u-image-2 {
    height: 233px;
    margin-top: -108px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 289px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 22px;
  }

  .u-section-1 .u-shape-1 {
    height: 189px;
    margin-top: 131px;
  }

  .u-section-1 .u-image-1 {
    width: 242px;
    height: 365px;
    margin-top: -320px;
    margin-left: 20px;
  }

  .u-section-1 .u-image-2 {
    width: 213px;
    height: 193px;
    margin-top: -74px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 542px;
  }

  .u-section-1 .u-image-1 {
    width: 417px;
    height: 417px;
    margin-left: 45px;
  }

  .u-section-1 .u-image-2 {
    width: 323px;
    height: 246px;
    margin-top: -119px;
    margin-right: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 542px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 544px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 79px;
  }

  .u-section-1 .u-image-1 {
    width: 298px;
    height: 313px;
    margin-top: -251px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 266px;
    height: 225px;
    margin-top: -42px;
    margin-right: 0;
  }
}